<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADMS_Integ_Midterms.Properties.Settings.Northville_LibraryConnectionString"
            connectionString="Data Source=DESKTOP-K9F0TTR\SQLEXPRESS;Initial Catalog=&quot;Northville Library&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>